@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Imagen</h1>
    <img src="~/img/imagen.jpg"/>
    <div class="form-group">
        <p> Se han Generado los filtros de las imagenes </p>
    </div>
</div>

<div class="row">
    <form action="/home" method="post">
        <div class="col-md-4">
            
            
        </div>
    </form>
</div>